.chat-box {
  scrollbar-color: oklch(0.282 0.091 267.935) #0f172a;
}

.chat-bot-message {
  max-width: 90%;
}

.chat-bot-message p {
  margin-bottom: 12px;
}
.chat-bot-message ul {
  margin-bottom: 18px;
}
.chat-bot-message li {
  margin-bottom: 8px;
}
.chat-bot-message a {
  @apply text-blue-500 underline;
}
.chat-bot-message pre {
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  @apply bg-gray-800;
}
